<h1>Welcome to Dr. Scrabble</h1>
<form action="/score">
  <div class="form-group">
     <label for="word">Type a word you'd like to score!
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
